<?xml version="1.0" encoding="utf-8"?>
<launch>
	<node name="XBus" pkg="xilva_core" type="bus.py" output="screen"/>
	<node name="Xencoder" pkg="xilva_core" type="encoder.py" output="screen" args="ibuki"/>
	<node name="Act_neck" pkg="xilva_core" type="ibuki_actuator.py" output="screen" args="neck"/>
	<node name="Act_arml" pkg="xilva_core" type="ibuki_actuator.py" output="screen" args="arml"/>
	<node name="Act_armr" pkg="xilva_core" type="ibuki_actuator.py" output="screen" args="armr"/>
	<node name="Act_handl" pkg="xilva_core" type="ibuki_actuator.py" output="screen" args="handl"/>
	<node name="Act_handr" pkg="xilva_core" type="ibuki_actuator.py" output="screen" args="handr"/>
	<node name="Act_headl" pkg="xilva_core" type="ibuki_actuator.py" output="screen" args="headl"/>
	<node name="Act_headc" pkg="xilva_core" type="ibuki_actuator.py" output="screen" args="headc"/>
	<node name="Act_headr" pkg="xilva_core" type="ibuki_actuator.py" output="screen" args="headr"/>
	<node name="Act_hip" pkg="xilva_core" type="ibuki_actuator.py" output="screen" args="hip"/>
	<node name="Act_wheel" pkg="xilva_core" type="ibuki_actuator.py" output="screen" args="wheel"/>


</launch>
